.container{
    background-color: burlywood;
    /* width: 75%; */
    width: 1200px;
    margin: auto;
    padding: 20px;
    color: darkblue;
    box-shadow: 5px 5px 8px black, -5px -5px 8px black;
}

h2{
    background-color: antiquewhite;
    text-shadow: 3px 3px 5px black;
    padding: 10px 0px;
    text-align: center;
    width: 60%;
    margin: auto;
    border: 2px solid red;
    border-radius: 10px;
}

p{
    background-color: bisque;
}

.paratlan_h2{
    color: blue;
}

.paros_h2{
    color: darkgreen;
}

#cimsorok{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 32px;
    padding: 20px;
    border: 2px solid red;
    margin: 13px;
}